
.bookWindow {
    display: flex;
    flex-direction: row;
    
    margin-top: 1px;
    margin-bottom: 1px;
    
    overflow-y: auto;
}

.flightsPanel {
    width: 50vw;

    border-right: 3px solid rgb(204, 119, 147);

    display: flex;
    flex-direction: column;
    align-items: left;
}

.tripsPanel {
    width: 50vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flightListItem {
    width: 46vw;
    margin-left: 2vw;
    margin-right: 2vw;

    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 10px;

    font-size: 20px;
    color: gray;
    
    height: calc((100vh - 252px) / 7);
}

.flightListTitle {
    width: 48vw;
    margin-left: 1vw;
    margin-right: 1vw;

    font-size: 30px;  
    text-align: center;
    justify-content: center;
    color: dimgray;

    border-top: 3px solid limegreen;
    border-bottom: 2px solid lightskyblue;
}

.flightListItemBordered {
    border-bottom: 1px solid lightskyblue;
}

.tripButtons {
    width: calc(50vw - 5px);
    height: calc((((100vh - 252px) / 6) * 5) - 5px);

    margin-top: 5px;
    margin-right: 5px;

    overflow: scroll;
}

.tripButtons::-webkit-scrollbar {
    width: 1em;
}

.tripButtons::-webkit-scrollbar-track {
    background: white;
}

.tripButtons::-webkit-scrollbar-thumb {
    outline: 1px solid white;
}

.tripButtons::-webkit-scrollbar-corner {
    background: white;
}

.tripPanelItem {
    cursor: pointer;
    width: 46vw;
    margin-left: 2vw;
    margin-right: 2vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    color: gray;
	
    height: calc(((100vh - 252px) / 2.5) - 2.5px);
    border-bottom: 1px solid lightskyblue;
}

.tripPanelItem:hover {
   border-radius: 2vh;
   background: lightcyan;
}

.tripPanelSearchbar {
    width: 48vw;
    margin-left: 1vw;
    margin-right: 1vw;

    font-size: 30px;
    color: dimgray;
 
    text-align: center;

    border-top: 3px solid rgb(46, 160, 93);
    border-bottom: 2px solid lightskyblue;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: calc((100vh - 252px) / 2);
}

.tripListBox {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 0vh;
}

.listBoxOption {
    cursor: pointer;
    width: 15vw;
    font-size: 25px;
    color: dimgray;
  
    text-align: center;
    border: 1px solid dimgray;
}

.listBoxOption:hover {
    background: white;
}

.flightWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flightInfoBox {
    width: calc((46vw - 15vw) / 3);
    height: calc(((100vh - 252px) / 2.5) - 40px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 1vh;
    border: 1px solid dodgerblue;
}

.layoverInfoBox {
    width: 7vw;
    height: calc(((100vh - 252px) / 2.5) - 80px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 1vh;
    border: 1px solid violet;

    margin-left: 1vh;
    margin-right: 1vh;
}

.flightInfoItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layoverInfoItem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.flightInfoLocations {
    font-size: 20px;
    color: gray;
}
